[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DysPIA"]
	path = DysPIA
	url = https://github.com/lemonwang2020/dyspia
	shallow = true
	registered = true
[submodule "DysPIAData"]
	path = DysPIAData
	url = https://github.com/cran/DysPIAData
	shallow = true
	registered = true
